@using WorkshopUsuarios.Resources
@model List<WorkshopUsuarios.Models.Usuario>

@{
    ViewBag.Title = "Búsqueda de Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Usuarios.TituloBuscaUsuario</h2>

<br />

@using (Html.BeginForm("Grabar", "Usuario"))
{
    <input type="submit" value="@Usuarios.TextoBotonNuevoUsuario" />
}

<br/>

@using (Html.BeginForm("Buscar", "Usuario",FormMethod.Get))
{
    <table class="table">
        <tr>
            <td>
                @Html.Label(@Usuarios.TextoNombre + ":")
            </td>
            <td>
                @Html.TextBox("nombre")
            </td>
            <td>
                @Html.Label("Login:")
            </td>
            <td>
                @Html.TextBox("Login")
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <input type="submit" value="@Usuarios.TextoBuscar" />
            </td>
        </tr>
    </table>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                @Usuarios.TextoNombre
            </th>
            <th>
                @Usuarios.TextoApellidoPaterno
            </th>
            <th>
                @Usuarios.TextoApellidoMaterno
            </th>
            <th>
                @Usuarios.TextoEdad
            </th>
            <th>
                @Usuarios.TextoEmail
            </th>
            <th>
                Login
            </th>
        </tr>
    </thead>
        @foreach (var usuario in Model)
        {
            <tr>
                <th scope="row">
                    @Html.ActionLink(usuario.Id.ToString(), "Actualizar", "Usuario", new { id = usuario.Id },null)
                </th>
                <td>
                    @usuario.Nombre
                </td>
                <td>
                    @usuario.ApellidoPaterno
                </td>
                <td>
                    @usuario.ApellidoMaterno
                </td>
                <td>
                    @usuario.Edad
                </td>
                <td>
                    @usuario.Email
                </td>
                <td>
                    @usuario.Login
                </td>
            </tr>
        }
</table>

